
<br />
<div ng-show="playlist.MP3.length != 0 && numberOfPages[$index]()>1">
    <button class="btn btn-default" ng-disabled="currentPage[$index] == 0" ng-click="currentPage[$index]=currentPage[$index]-1">
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    </button>

    {{currentPage[$index]+1}}/{{numberOfPages[$index]()}}

    <button class="btn btn-default" ng-disabled="currentPage[$index] >= playlist.MP3.length/pageSize - 1" ng-click="currentPage[$index]=currentPage[$index]+1">
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
    </button>
</div>