
<table class="slide table table-striped table-condensed table-hover">
    <thead>
    <th>Playlists</th>
    <th></th>
    </thead>
    <tbody ng-repeat="playlist in playlists">
        <tr>
            <td class="col-md-11">{{playlist.Name}}</td>
            <td class="col-md-1">
                <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" ng-click="deletePlaylist(playlist.PlaylistID)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
    </tbody>
</table>

<button class="input-block-level form-control container btn btn-custom-primary">
    <span class="glyphicon glyphicon-plus"></span>
</button>


