
<table class="slide table table-striped table-condensed table-hover">
    <thead>
    <th>Playlists</th>
    <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="playlist in playlists | filter:{ Name: searchText} track by $index">
            <td class="col-md-11">

                <playlist-data></playlist-data>

                <div ng-show="showSongs[$index]" class="playlist-panel panel panel-primary">
                    <div class="panel-heading">
                        Songs in playlist
                    </div>
                    <div class="panel-body playlist-songs">
                        <mp3-data></mp3-data>
                        <mp3-page-navigation></mp3-page-navigation>
                    </div>
                </div>

            </td>

            <td class="col-md-1">
                <button class="btn btn-default" ng-click="openEditPlaylistForm(playlist.PlaylistID)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" ng-click="deletePlaylist(playlist.PlaylistID)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
</tbody>
</table>

<!-- Pagination -->
<nav>
    <ul ng-hide="isSearchActivated || (!nextActive && !previousActive)" class="pagination">
        <li ng-show="previousActive">
            <a href="#/playlist/page/{{currentPageItem - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="pagination-item" ng-repeat="button in navButtonNumber track by $index" ng-click="routePage($index)">
            <a ng-class="{'pagination-item-active': currentPageItem == $index + 1}">{{$index+1}}</a>
        </li>
        <li ng-show="nextActive">
            <a href="#/playlist/page/{{currentPageItem + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>



<button class="input-block-level form-control container btn btn-primary" ng-click="openCreatePlaylistForm()">
    <span class="glyphicon glyphicon-plus"></span>
</button>


