
.btn-custom-primary {
  font-family: 'Gotham SSm A','Gotham SSm B',proxima-nova,Helvetica,Arial,sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #B1D037;
  transition: background-color 1s ease;
}

.playlist-panel {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.playlist-songs {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    
}

.playlist {
    color:black;
    cursor:pointer;
}

.search {
    margin-top:8px;
    margin-right: 10px;
}

.pagination-item{
    cursor:pointer;
}

.pagination-item-active{
    background-color: #e7e7e7 !important;
}

.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}