
.btn-custom-primary {
  font-family: 'Gotham SSm A','Gotham SSm B',proxima-nova,Helvetica,Arial,sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #B1D037;
  transition: background-color 1s ease;
}

.playlist-songs {
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.playlist {
    color:black;
    cursor:pointer;
}

.search {
    margin-top:8px;
    margin-right: 10px;
}