
<table class="slide table table-striped table-condensed table-hover">
    <thead>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Playlists</th>
    <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="song in mp3s | filter:searchText">
            <td ng-bind-html="song.Title | highlight:searchText"></td>
            <td ng-bind-html="song.Artist | highlight:searchText"></td>
            <td ng-bind-html="song.Album | highlight:searchText"></td>
            <td ng-bind-html="song.Album | highlight:year"></td>
            <td>
                <table>
                    <tr ng-repeat="playlist in song.Playlist">
                        <td ng-bind-html="playlist.Name| highlight:searchText"></td>
                    </tr>
                </table>
            </td>
            <td class="col-md-1">
                <button class="btn btn-default" ng-click="openEditMp3Form(song.MP3ID)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" ng-click="deleteMp3(song.MP3ID)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Pagination -->
<nav>
    <ul ng-hide="isSearchActivated || (!nextActive && !previousActive)" class="pagination">
        <li ng-show="previousActive">
            <a href="#/mp3/page/{{currentPageItem - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="pagination-item" ng-repeat="button in navButtonNumber track by $index" ng-click="routePage($index)">
            <a ng-class="{'pagination-item-active': currentPageItem == $index + 1}">{{$index+1}}</a>
        </li>
        <li ng-show="nextActive">
            <a href="#/mp3/page/{{currentPageItem + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>



<button class="input-block-level form-control container btn btn-primary" ng-click="openCreateMp3Form()">
    <span class="glyphicon glyphicon-plus"></span>
</button>




