
<table class="slide table table-striped table-condensed table-hover">
    <thead>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Year</th>
        <th>Playlists</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="song in mp3s">
            <td>{{song.Title}}</td>
            <td>{{song.Artist}}</td>
            <td>{{song.Album}}</td>
            <td>{{song.Year}}</td>
            <td>
                <table>
                    <tr ng-repeat="playlist in song.Playlist">
                        <td>
                            {{playlist.Name}}
                        </td>
                    </tr>
                </table>
            </td>
            <td class="col-md-1">
                <button class="btn btn-default" ng-click="openEditMp3Form(song.MP3ID)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" ng-click="deleteMp3(song.MP3ID)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Pagination -->
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="pagination-item" ng-repeat="button in navButtonNumber track by $index" ng-click="getPage($index)"><a>{{$index+1}}</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>



<button class="input-block-level form-control container btn btn-custom-primary" ng-click="openCreateMp3Form()">
    <span class="glyphicon glyphicon-plus"></span>
</button>




