

<form name="mp3Form" role="form" novalidate>

    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Mp3 information</legend>
                    <form class="form-horizontal">

                        <!-- Title -->
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <div>
                                <input id="title" name="title" class="form-control" type="text" ng-model="mp3.Title" ng-maxlength="50" required />
                                <div class="error-messages" ng-if="interacted(mp3Form.title)" ng-messages="mp3Form.title.$error">
                                    <div ng-message="required">Title is required. </div>
                                    <div ng-message="maxlength">Your title is too long. </div>
                                </div>
                            </div>
                        </div>

                        <!-- Artist -->
                        <div class="form-group">
                            <label for="artist">Artist:</label>
                            <div>
                                <input id="artist" name="artist" class="form-control" type="text" ng-model="mp3.Artist" ng-maxlength="50" />
                                <div class="error-messages" ng-if="interacted(mp3Form.artist)" ng-messages="mp3Form.artist.$error">
                                    <div ng-message="maxlength">Artist's name is too long. </div>
                                </div>
                            </div>
                        </div>

                        <!-- Album -->
                        <div class="form-group">
                            <label for="album">Album:</label>
                            <div>
                                <input id="album" name="album" class="form-control" type="text" ng-model="mp3.Album" ng-maxlength="50" />
                                <div class="error-messages" ng-if="interacted(mp3Form.album)" ng-messages="mp3Form.album.$error">
                                    <div ng-message="maxlength">Album name is too long. </div>
                                </div>
                            </div>
                        </div>

                        <!-- Year -->
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <div>
                                <input id="year" name="year" class="form-control" type="number" ng-model="mp3.Year" ng-pattern="/^[0-9]{1,5}$/"/>
                                <div class="error-messages" ng-if="interacted(mp3Form.year)" ng-messages="mp3Form.year.$error">
                                    <div ng-message="pattern">Please enter the year in yyyy format</div>
                                    <div ng-message="number">Please enter the year in yyyy format</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Playlists</legend>

                    <table class="slide table table-striped table-condensed table-hover">
                        <thead>
                        <th>Playlists</th>
                        <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="playlist in playlists">
                                <td class="col-md-11">{{playlist.Name}}</td>
                                <td class="col-md-1">
                                    <input type="checkbox" ng-checked="checkSongInPlaylist(playlist)" ng-click="addSongToPlaylist($event,playlist)" value="playlist">
                                </td>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>


    <br />
    <br />

    <button ng-click="submitData()" type="submit" class="input-block-level form-control btn btn-primary">Submit</button>

</form>

