

<form name="mp3Form" role="form" novalidate>

    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Mp3 information</legend>
                    <form class="form-horizontal">

                        <!-- Title -->
                        <div class="field" show-errors>
                            <label for="title">Title:</label>
                            <div>
                                <input id="title" name="title" class="form-control" type="text" ng-model="mp3.Title" ng-maxlength="50" required />
                                <!--<span class="help-block" ng-show="mp3Form.title.$error.required && mp3Form.title.$dirty">Title is required</span>
                                <span class="help-block" ng-show="mp3Form.title.$error.maxlength && mp3Form.title.$dirty">Title is too long</span>-->
                                <div ng-messages="mp3Form.title.$error" ng-if='mp3Form.title.$dirty'>
                                    <div ng-message="required" class="ng-scope">Title is required. </div>
                                    <div ng-message="maxlength">Your title is too long. </div>
                                </div>
                            </div>
                        </div>

                        <!-- Artist -->
                        <div class="form-group" show-errors>
                            <label for="artist">Artist:</label>
                            <div>
                                <input id="artist" name="artist" class="form-control" type="text" ng-model="mp3.Artist" ng-maxlength="50" />
                                <!--<span class="help-block" ng-show="mp3Form.artist.$error.maxlength && mp3Form.artist.$dirty || ">Artist's name is too long</span>-->
                            </div>
                        </div>

                        <!-- Album -->
                        <div class="form-group" show-errors>
                            <label for="album">Album:</label>
                            <div>
                                <input id="album" name="album" class="form-control" type="text" ng-model="mp3.Album" ng-maxlength="50" />
                                <!--<span class="help-block" ng-show="mp3Form.album.$error.maxlength && mp3Form.album.$dirty">Album name is too long</span>-->
                            </div>
                        </div>

                        <!-- Year -->
                        <div class="form-group" show-errors>
                            <label for="year">Year:</label>
                            <div>
                                <input id="year" name="year" class="form-control" type="number" ng-model="mp3.Year" ng-maxlength="5" />
                                <!--<span class="help-block" ng-show="mp3Form.year.$invalid && mp3Form.year.$dirty">Please enter the year in yyyy format</span>-->
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Playlists</legend>

                    <table class="slide table table-striped table-condensed table-hover">
                        <thead>
                        <th>Playlists</th>
                        <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="playlist in playlists">
                                <td class="col-md-11">{{playlist.Name}}</td>
                                <td class="col-md-1">
                                    <input type="checkbox" ng-checked="checkSongInPlaylist(playlist)" ng-click="addSongToPlaylist($event,playlist)" value="playlist">
                                </td>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>


    <br />
    <br />

    <button ng-click="submitData()" type="submit" class="input-block-level form-control btn btn-primary">Submit</button>

</form>

